* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #eee;
  margin: 70px 20px 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  line-height: 1.6;
}

code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #abb2bf;
  background: #282c34;
}

.flex {
  display: flex;
  font-size: 14px;
}

.flex .flex-in {
  width: 100%;
  position: relative;
}

.flex .flex-side {
  width: 350px;
  margin-right: 20px;
}

.Toc {
  position: fixed;
  width: 270px;
  padding-right: 20px;
  top: 70px;
  bottom: 0;
  overflow: auto;
  margin-bottom: 34px;
}

.Toc::-webkit-scrollbar {
  width: 4px;
}

.Toc::-webkit-scrollbar-track {
  border-radius: 10px;
}

.Toc::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.Toc ul {
  margin-bottom: 1em;
}

.Toc li {
  list-style-type: none;
}

.Toc li > ul {
  margin: 0;
}

.Toc li > ul li {
  margin-left: .5em;
}

.Toc li > ul li a:before {
  content: '- ';
  display: inline;
}

.Toc a {
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 13px;
  padding: 1px 4px;
}

.Toc a:hover {
  background-color: #ddd;
}

.Toc a.active {
  background-color: #ccc;
}

.Document {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 30px;
  margin-bottom: 30px;
}

.Document section:not(:last-child) {
  margin-bottom: 2em;
}

.Document figure {
  border: 2px solid #ccc;
  padding: 30px;
  display: inline-block;
  margin: 1em 0 0;
}

.Document pre:not(:last-child) {
  margin-bottom: 1em;
}

.Document mark {
  background-color: #f0f0f0;
  display: inline-block;
  padding: 2px;
}

.Document table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.Document table tr {
  border-top: 1px solid #c6cbd1;
}

.Document table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.Document table th, .Document table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.Document h1 {
  font-size: 30px;
  border-bottom: solid 1px #eee;
  margin-bottom: .5em;
}

.Document h2 {
  color: #444;
  font-size: 22px;
  margin-bottom: .5em;
  border-bottom: solid 1px #eee;
}

.Btn {
  display: none;
}

.Footer {
  font-size: 14px;
  background-color: #333;
  text-align: center;
  color: #fff;
  margin: 0 -20px;
  line-height: 2;
}

@media screen and (max-width: 1080px) {
  body {
    margin: 64px 10px 0;
  }
  .flex {
    display: block;
  }
  img {
    max-width: 100%;
  }
  .Document {
    padding: 20px;
  }
  .Document h1 {
    font-size: 24px;
  }
  .Document h2 {
    font-size: 18px;
  }
  .Table-wrap {
    overflow: auto;
  }
  .Table-wrap table {
    min-width: 100%;
    width: 500px;
  }
  .ml20 {
    margin-top: 1em;
    margin-left: 0;
  }
  .Toc {
    transition: right .25s;
    right: -280px;
    background-color: #24292e;
    color: #FFFAFA;
    margin-bottom: 0;
    padding: 16px;
    left: auto;
    z-index: 1000;
    top: 49px;
    width: 280px;
  }
  .Toc a, .Toc a:hover {
    color: #FFFAFA;
    background-color: transparent;
    line-height: 2;
  }
  .Toc a.active, .Toc a:active, .Toc a:hover.active, .Toc a:hover:active {
    background-color: #191c20;
  }
  .Btn {
    transition: right .25s;
    right: 0;
    color: #FFFAFA;
    display: block;
    position: fixed;
    top: 49px;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: #24292e;
    text-align: center;
    font-size: 10px;
    padding-top: 3px;
    cursor: pointer;
  }
  .Btn:after {
    content: '';
    display: block;
    background-color: #FFFAFA;
    height: 1px;
    position: absolute;
    width: 24px;
    left: 0;
    right: 0;
    margin: auto;
    top: 22px;
    box-shadow: 0 8px #FFFAFA, 0 16px #FFFAFA;
  }
  .menu .Btn {
    right: 280px;
  }
  .menu .Toc {
    right: 0;
  }
  .Footer {
    margin: 0 -10px;
  }
}

@media screen and (max-width: 677px) {
  .Header {
    padding: 5px;
    height: auto;
    display: block;
  }
  .Header .Header-logo {
    position: static;
    margin: 10px auto;
  }
  .Header .Header-menu ul {
    justify-content: center;
  }
  .Header .Header-menu a, .Header .Header-menu span {
    line-height: 2;
  }
  .Header .Header-icon {
    position: absolute;
    top: 12px;
    right: 10px;
  }
  .Toc {
    top: 89px;
  }
  .Btn {
    top: 89px;
  }
  body {
    margin-top: 104px;
  }
}
