@charset "UTF-8";

body{
  background-color: #eee;
  margin: 70px 20px 0;
  min-width: 1100px;
  line-height: 1.6;
}

code{
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #abb2bf;
  background: #282c34;
}

.flex{
  display: flex;

  .flex-in{
    width: 100%;
    position: relative;
  }
  
  .flex-side{
    width: 350px;
    margin-right: 20px;
  }
  
}

.Toc{
  position: fixed;
  width: 270px;
  padding-right: 20px;
  top: 70px;
  bottom: 0;
  overflow: auto;
  margin-bottom: 34px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
  }

  ul{
    margin-bottom: 1em;
  }

  li{
    list-style-type: none;
  }
  a{
    display: block;
    text-decoration: none;
    color: #222;
    font-size: 13px;
    padding: 1px 4px;
    
    &:hover{
      background-color: #ddd;
    }
    &.active{
      background-color: #ccc;
    }
  }
}

.Document{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 30px;
  margin-bottom: 30px;

  section{
    &:not(:last-child){
      margin-bottom: 2em;
    }
  }

  figure{
    border: 2px solid #ccc;
    padding: 30px;
    display: inline-block;
    margin: 1em 0 0;
  }

  pre{
    &:not(:last-child){
      margin-bottom: 1em;
    }
  }

  mark{
    background-color: #f0f0f0;
    display: inline-block;
    padding: 2px;
  }

  table{
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;

    tr{
      border-top: 1px solid #c6cbd1;

      &:nth-child(2n){
        background-color:#f6f8fa;
      }
    }

    th,td{
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

  }

  h1{
    font-size: 30px;
    border-bottom: solid 1px #eee;
    margin-bottom: .5em;
  }

  h2{
    color: #444;
    font-size: 22px;
    margin-bottom: .5em;
    border-bottom: solid 1px #eee;
  }

}
